CONNECTKEEPALIVE=300
db_host="<DB_ENDPOINT>"
odse_user=nbs_ods
odse_pass=<<ODSE_DB_USER_PASSWORD>>
rdb_user=nbs_rdb
rdb_pass=<<RDB_DB_USER_PASSWORD>>
WILDFLY_HOME=/opt
SAS_HOME=/opt/sas9.4/install/SASHome/SASFoundation/9.4
SAS_EXTERNAL_BIND_ADDR=<PRIVATE_IP>
SAS_BIND_ADDR=<PRIVATE_IP>
SASDAEMONHOST=<HOSTNAME>
